.wrapper {
  display:flex;

  width: calc(50% - 5px);

  align-items: center;
  padding:10px;
  border-radius: 6px;

  box-shadow: 0 0 0 1px rgba(0,0,0,0);
  transition: all 0.2s ease;
  transition-property: box-shadow;
}

@media (max-width: 996px) {
  .wrapper {
    width: 100%;
  }
}

.wrapper:hover {
  background: #FFFFFF;

  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D1DAF0;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  flex:0 0 auto;
}

.content {
  flex:1;

  padding-left: 10px;
}
